@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  margin: 0;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
}
h3,
p {
  margin: 0;
}
.conteudo {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
}
h3 {
  font-size: 1.5rem;
  text-align: center;
}
p {
  color: hsl(220, 15%, 55%);
  text-align: center;
}
img {
  max-width: 100%;
  border-radius: 0.75rem;
}
main {
  width: 320px;
  height: 500px;
  display: grid;
  background-color: hsl(0, 0%, 100%);
  box-shadow: hsla(210, 8%, 62%, 0.2) 0px 8px 24px;
  border-radius: 0.75rem;
}
.imagem {
  padding: 1rem;
}
